/WebClient/ClientAPI/.vs
/WebClient/ClientAPI/ClientAPI/bin
/WebClient/ClientAPI/ClientAPI/obj
WebClient/ClientAPI/.vs/ClientAPI.slnx/v18/.suo
WebClient/ClientAPI/.vs/ClientAPI.slnx/v18/DocumentLayout.backup.json
WebClient/ClientAPI/.vs/ClientAPI.slnx/v18/DocumentLayout.json
